.container{
  padding: 1rem;
  width: 350px;
  height: 350px;
  box-shadow: -1px 15px 30px -12px rgb(32, 32, 32);
  border-radius: 0.9rem;
  cursor: pointer;
  justify-content: center;
  display: flex;

}
.container:hover{
  border-right: 3px solid cornflowerblue;
  border-left: 3px solid salmon;
  transition: all 200ms ease-in;
}
.img{
  margin: auto;
  display: flex;
  justify-content: center;
  justify-items: center;
}
.title{
  font-family: 'Oswald';
}
.price{
  font-weight: bold;
}
