.container{
  position: absolute;
  top: 50px;
  right: 0px;
  height: 100vh;
  width: 35vh;
  z-index: 1;
  list-style: none;



background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
transition: all 400ms ease-in;
}
.container > span{
  font-size: large;
  font-size: x-large;
    margin-left: 10px;
    color: black;
}
.subContainer{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 85vh;
}

.noAddedContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.noAddedContainer > p {
  font-family: 'Oswald';
  color: black;
}
.noAddedContainer > button {
  background: rgba(0, 0, 0, 0.743);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
border-radius: 10px;
padding: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
color: rgb(255, 255, 255);
font-size: 1.5rem;
}
.price{
font-family: 'Oswald';
font-size: 1.5rem;
text-align: center;
color: black;
}
.btn > button {
  background: rgba(0, 0, 0, 0.502);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
border-radius: 10px;
padding: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
color: rgb(255, 255, 255);
width: 90%;
font-size: 1.5rem;
margin: 5px 0;

}
.btn{
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
}
