.section{
  padding: 1rem;
  text-align: center;
  margin: 2rem 0;
  background-color: black;
  color: white;
}
.section p{
  font-size: 1.2rem;
  font-family: 'Oswald' sans-serif;
}

.subTitle{
  margin-left: 1.5rem ;
}
@media only screen and (min-width: 1200px) {
  .section p{
    font-size: 1.5rem;
  }
}
.flexproduct{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
